body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    overflow: hidden;
    /*background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);*/
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

#main {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  width: 67%;  
  height:650px;
  background-color:#ffffff;
  border-radius:2px 2px 2px 2px;
  box-shadow: 5px 10px 8px #888888;
}

#leftbox {
    min-width: 200px;
    max-width:15%;
    position: fixed;
    z-index: 999999;
    left: 10px;
    top:75px;
}

#rightbox {
    min-width: 200px;
    max-width:15%;
    position: fixed;
    z-index: 999999;
    right: 20px;
    top:75px;
}
