<head>
    <title>@ViewBag.title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <link href="~/App/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/App/Css/style.css" rel="stylesheet" />
    <link href="~/App/Css/Site.css" rel="stylesheet" />
    <link href="~/App/Css/login.css" rel="stylesheet" />
</head>
